<div class="roaster-details">
  <button class="close-button" aria-label="Close menu" type="button" data-close>
    <span aria-hidden="true">&times;</span>
  </button>
  <div *ngIf="roaster">
    <h3>{{ roaster.name }}</h3>
    <div *ngIf="roaster.googlePlace else loading">
      <div class="address">
        <p>
          {{ roaster.googlePlace.formatted_address }}
        </p>
      </div>
      <div class="rating">
        <h4>Rating</h4>
        <p>
          {{ roaster.googlePlace.rating }} ({{ roaster.googlePlace.user_ratings_total }} reviews)
        </p>
      </div>
      <div class="opening-times">
        <h4>Opening times</h4>
        <p *ngFor="let opening_time of roaster.googlePlace.opening_hours.weekday_text">
          {{ opening_time }}
        </p>
      </div>
      <p>
        <span *ngIf="roaster.website"><a href="{{ roaster.website }}" target="_blank" rel="nofollow">Visit their website <i class="fas fa-external-link-alt"></i></a> | </span><a href="https://www.google.com/maps/dir/?api=1&destination={{ roaster.googlePlace.formatted_address | encodeURIComponent }}&destination_place_id={{ roaster.googlePlaceId }}" target="_blank" rel="nofollow">Get directions <i class="fas fa-external-link-alt"></i></a> | <a href="{{ roaster.googlePlace.url }}" target="_blank" rel="nofollow">More on Google Places <i class="fas fa-external-link-alt"></i></a>
      </p>
    </div>
  </div>
</div>

<ng-template #loading>
  <i class="fas fa-coffee spinner"></i>
  <p>Retrieving the freshest info</p>
</ng-template>
