<h1>About</h1>
<p>
  Roast Radar aims to be a quick and easy way to locate specialty coffee roasters around the world.
</p>
<p>
  Why? I love to try out speciality coffee from local roasters whenever I'm travelling. I've found they're not always easy to identify via quick searches on Google Maps, usually made in a hurry from my mobile.
</p>
<p>
  So the idea here is to give quick and easy access to a curated set of roasters for easy reference, any time and any place.
</p>
<h2>Contributions</h2>
<p>
  All suggestions and contributions are welcome.
</p>
<p>
  If you know of a great specialty roaster that's missing or there's an error on the site, let me know via <a href="mailto:dwight+roastradar@dwightgunning.com">email</a>.
</p>
<p>
  The website code is open source. Check out the <a href="https://github.com/dwightgunning/roastradar">project</a> and feel free to submit issues or pull requests.
</p>
<h2>Attribution</h2>
<p>
  The site favicon and various images are from <a href="http://fontawesome.io" target="_blank" rel="nofollow">Font Awesome</a> by Dave Gandy.
</p>
