@import '../../../assets/foundation-sites/settings';

.footer {
  background-color: get-color(primary);
  color: $white;
  height: 120px;
  padding-top: 10px;

  p {
    margin-bottom: 0;
  }

  a {
    color: $white;
    text-decoration: underline;
  }
}
