<h3 class="lead">Specialty Coffee: Nearest and best-est.</h3>
<button class="button" type="button" (click)="onNearbyRoastersClick($event)">Nearby roasters</button>
<div class="roaster-map off-canvas-wrapper" *ngIf="mode == 'map'">
  <div id="roaster-details-canvas" class="off-canvas-absolute position-left" data-off-canvas data-close-on-click="false" data-auto-focus="false" data-content-overlay="false">
    <app-roaster-details  [(roaster)]="selectedRoaster"></app-roaster-details>
  </div>
  <div data-off-canvas-content>
    <agm-map
      [disableDefaultUI]="true"
      [latitude]="(positionSubj | async)?.coords.latitude || 35.784"
      [longitude]="(positionSubj | async)?.coords.longitude || -90.00"
      [streetViewControl]="false"
      [styles]="mapStyles"
      [usePanning]="true"
      [zoom]="(positionSubj | async) ? 11 : 2"
      [zoomControl]="false">
      <agm-marker-cluster [imagePath]="'/assets/images/map-markers/m'">
        <agm-marker
          *ngFor="let roaster of roasters"
          [latitude]="roaster.lat"
          [longitude]="roaster.lng"
          [title]="roaster.name + ', ' + roaster.city"
          [iconUrl]="markerImageDefault"
          (markerClick)="onRoasterClick(roaster)">
        </agm-marker>
      </agm-marker-cluster>
    </agm-map>
  </div>
</div>
<div *ngIf="mode == 'list'">
  <p><small><em>It appears you're offline... time to ask for directions?</em></small></p>
  <div *ngFor="let item of roastersByCountry | keyvalue">
    <h3>{{ item.key }}</h3>
    <p class="small text-small" *ngFor="let roaster of item.value">
      {{ roaster.name }}, {{ roaster.city }}
    </p>
  </div>
</div>
