@import '../../../assets/foundation-sites/settings';

.top-bar {
  color: $white;
  font-weight: 400;

  a {
    color: $white;
  }

  .menu-text {
    h1 > a {
      color: $white;
      font-size: rem-calc(map-deep-get($header-styles, small, h4, font-size));
    }
  }

  .top-bar-right {
    li {
      :hover {
        background: change-color($white, $alpha: 0.5);
      }
    }

    .active-link {
      background: change-color($white, $alpha: 0.25);
    }
  }

}
